@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
  font-family: 'Fira sans', sans-serif;
}

body {
  background-color: #edeeee;
}

.main-container {
  width: 100%;
  margin-top: 70px;

  main {
    max-width: 970px;
    min-height: 100vh;
    margin: 0 auto;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
